[Unit]
Description=YouValidateMe Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/youvalidateme/youvalidateme --verbose --hostname 0.0.0.0 --port 8080 --allow-save-uploads  --verbose --user ubuntu --group ubuntu --schemas-dir ./schemas
WorkingDirectory=/opt/youvalidateme
ReadWriteDirs=/opt/youvalidateme/schemas
RootDir=/opt/youvalidateme
Restart=always
RestartSec=1
User=root
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictRealtime=true

[Install]
WantedBy=multi-user.target

